@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* login */

#login button.ghost {
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
}

#login p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#login span {
  font-size: 12px;
}

#loginContent {
  position: fixed;
  display: none;
  /* transition: all var(--time) ease-in-out; */
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 32, 99, 0.7);
}

#login {
  margin: 10vh auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: auto;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  animation: login var(--time) ease-in-out;
}

#login .overlay button {
  background: transparent;
}

#login a {
  color: var(--prime);
}

#login span {
  margin-bottom: 10px;
}

#login form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

#login form input {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 50px;
}

#login form input:focus {
  border: 1px solid var(--prime);
  outline: none;
}

#login form button {
  margin-top: 10px;
  width: 100%;
}

#login .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#login .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
#login .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

#login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

#login .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

#login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

#login .overlay {
  background: var(--prime);
  background: -webkit-linear-gradient(45deg, var(--prime-light), var(--prime));
  background: linear-gradient(45deg, var(--prime-light), var(--prime));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#login.right-panel-active .overlay {
  transform: translateX(50%);
}

#login .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#login .overlay-left {
  transform: translateX(-20%);
}

#login.right-panel-active .overlay-left {
  transform: translateX(0);
}

#login .overlay-right {
  right: 0;
  transform: translateX(0);
}

#login.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#login .social-container {
  margin: 20px 0;
}

#login .social-container a {
  font-size: 0.5rem;
  padding: 10px 15px;
  margin: 2px;
  border-radius: 50%;
  color: var(--prime);
}
