@media only screen and (max-width: 991px) {
  /* navbar */

  #navbar .container .checkBtn {
    display: block;
  }

  #navbar .container .navLinks {
    position: absolute;
    background: rgb(26, 32, 99, 0.85);
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: -100%;
    right: 0;
    top: 65px;
    transition: all var(--time) ease;
    /* overflow: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 10%;
  }

  #navbar.navColored .links a {
    color: #fff;
  }

  #navbar .container .links {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }

  #navbar .container #check:checked ~ .navLinks {
    left: 0;
    overflow: auto;
  }

  /* slideshow */

  #slideshow h1 {
    font-size: 2.5rem;
    border-left: none;
    border-top: 10px solid var(--secondary);
    padding: 0.5rem 0 0 0;
    transform: translateX(-200%);
  }

  #slideshow p {
    font-size: 1rem;
    border-left: none;
    padding: 1rem 0;
    text-align: center;
  }

  #slideshow button {
    margin-left: 0;
    transform: translateX(-200%);
  }

  #slideshow .slideInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* login */

  #login {
    width: 90%;
  }

  /* home */

  #home .homeContent .container {
    width: 100%;
  }

  #home .container h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
  }

  #home .container p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  /* services */

  #services .container .card {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }

  #services .card:nth-child(odd),
  #services .card:nth-child(even) {
    width: 100%;
    margin: 1rem auto;
  }

  /* about */

  #about .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #about .container .card {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  #about .container .card h1 {
    border-top: 10px solid var(--secondary);
  }
}

/* global keyframes */

@keyframes animatePic {
  0%,
  100% {
    background: url('../img/slider1.png') no-repeat center center/cover;
    background-attachment: fixed;
  }
  25% {
    background: url('../img/slider2.png') no-repeat center center/cover;
    background-attachment: fixed;
  }
  50% {
    background: url('../img/slider3.png') no-repeat center center/cover;
    background-attachment: fixed;
  }
  75% {
    background: url('../img/slider4.png') no-repeat center center/cover;
    background-attachment: fixed;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes login {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
